<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- e-commerce standard -->
    <event name="checkout_cart_product_add_after">
        <observer name="meta_conversion_add_to_cart" instance="Meta\Conversion\Observer\AddToCart"/>
    </event>
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="meta_conversion_initiate_checkout" instance="Meta\Conversion\Observer\InitiateCheckout"/>
    </event>
    <event name="controller_action_predispatch_checkout_cart_index">
        <observer name="meta_conversion_initiate_checkout_cart" instance="Meta\Conversion\Observer\InitiateCheckout"/>
    </event>
    <event name="controller_action_predispatch_onepagecheckout_index_index">
        <observer name="meta_conversion_initiate_checkout_opc" instance="Meta\Conversion\Observer\InitiateCheckout"/>
    </event>
    <event name="checkout_onepage_controller_success_action">
        <observer name="meta_conversion_purchase" instance="Meta\Conversion\Observer\Purchase"/>
    </event>
    <event name="checkout_submit_all_after">
        <observer name="meta_conversion_purchase_submit_all" instance="Meta\Conversion\Observer\Purchase"/>
    </event>
    <event name="catalog_controller_product_view">
        <observer name="meta_conversion_view_content" instance="Meta\Conversion\Observer\ViewContent"/>
    </event>
    <event name="controller_action_postdispatch_catalogsearch_result_index">
        <observer name="meta_conversion_search" instance="Meta\Conversion\Observer\Search"/>
    </event>
    <!-- b2b funnel -->
    <event name="grupoawamotos_b2b_registration_submitted">
        <observer name="meta_conversion_b2b_complete_registration" instance="Meta\Conversion\Observer\B2BCompleteRegistration"/>
    </event>
    <event name="grupoawamotos_b2b_lead_initiated">
        <observer name="meta_conversion_b2b_lead" instance="Meta\Conversion\Observer\B2BLead"/>
    </event>
    <event name="grupoawamotos_b2b_contact_initiated">
        <observer name="meta_conversion_b2b_contact" instance="Meta\Conversion\Observer\B2BContact"/>
    </event>
    <event name="grupoawamotos_b2b_quote_requested">
        <observer name="meta_conversion_b2b_quote_request" instance="Meta\Conversion\Observer\B2BQuoteRequest"/>
    </event>
    <!-- quote lifecycle (customer-facing only; admin events in etc/events.xml) -->
    <event name="grupoawamotos_b2b_quote_accepted">
        <observer name="meta_conversion_b2b_quote_lifecycle_accepted" instance="Meta\Conversion\Observer\B2BQuoteLifecycle"/>
    </event>
    <event name="grupoawamotos_b2b_quote_customer_rejected">
        <observer name="meta_conversion_b2b_quote_lifecycle_customer_rejected" instance="Meta\Conversion\Observer\B2BQuoteLifecycle"/>
    </event>
</config>
