<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_livechat>
            <widget_experiment>
                <enabled>1</enabled>
                <rollout_percentage>100</rollout_percentage>
                <variant_seed>livechat_widget_v1</variant_seed>
            </widget_experiment>
        </grupoawamotos_livechat>
    </default>
</config>
