<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- B2B customer approved: enrich prospect + CAPI QualifiedLead -->
    <event name="grupoawamotos_b2b_customer_approved">
        <observer name="mktg_intelligence_enrich_on_approval"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\EnrichOnApproval"/>
        <observer name="mktg_intelligence_send_qualified_lead"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\SendQualifiedLead"/>
    </event>

    <!-- CAPI Funnel: ProposalSent on B2B quote response -->
    <event name="grupoawamotos_b2b_quote_responded">
        <observer name="mktg_intelligence_send_proposal_sent"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\SendProposalSent"/>
    </event>

    <!-- CAPI Funnel: CreditApproved on B2B credit approval -->
    <event name="grupoawamotos_b2b_credit_approved">
        <observer name="mktg_intelligence_send_credit_approved"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\SendCreditApproved"/>
    </event>

    <!-- CAPI Funnel: InvoiceConfirmed on ERP order invoiced -->
    <event name="grupoawamotos_erp_order_invoiced">
        <observer name="mktg_intelligence_send_invoice_confirmed"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\SendInvoiceConfirmed"/>
    </event>

    <!-- CAPI Funnel: B2BRepurchase on checkout complete (B2B repeat orders) -->
    <event name="checkout_submit_all_after">
        <observer name="mktg_intelligence_send_repurchase"
                  instance="GrupoAwamotos\MarketingIntelligence\Observer\SendRepurchase"/>
    </event>
</config>
