<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="leadlovers" translate="label" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>LeadLovers</label>
            <tab>general</tab>
            <resource>GrupoAwamotos_LeadLovers::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Configuracoes Gerais</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Ativar Integracao</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="api_token" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Parametro token= enviado na URL da API LeadLovers</comment>
                </field>
                <field id="machine_code" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Machine Code</label>
                </field>
                <field id="sequence_code" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Email Sequence Code</label>
                </field>
                <field id="sequence_level" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Sequence Level Code</label>
                </field>
                <field id="tag_id" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tag ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
