<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="grupoawamotos_catalogfix_finalpricebox_has_special_price_guard"
                type="GrupoAwamotos\CatalogFix\Plugin\FinalPriceBoxPlugin"
                sortOrder="1"/>
    </type>
    <type name="Rokanthemes\Brand\Block\Brand\View">
        <plugin name="grupoawamotos_catalogfix_brand_view_null_brand_guard"
                type="GrupoAwamotos\CatalogFix\Plugin\Brand\ViewNullBrandPlugin"
                sortOrder="1"/>
    </type>
    <preference for="Rokanthemes\Brand\Block\Brand\View"
                type="GrupoAwamotos\CatalogFix\Block\Brand\View"/>
</config>
