<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_TawkIntegration::tawk"
             title="Tawk.to Chat"
             translate="title"
             module="GrupoAwamotos_TawkIntegration"
             parent="GrupoAwamotos_ERPIntegration::grupo_awamotos"
             sortOrder="80"
             resource="GrupoAwamotos_TawkIntegration::config"/>

        <add id="GrupoAwamotos_TawkIntegration::config"
             title="Configurações"
             translate="title"
             module="GrupoAwamotos_TawkIntegration"
             parent="GrupoAwamotos_TawkIntegration::tawk"
             action="adminhtml/system_config/edit/section/grupoawamotos_tawk"
             resource="GrupoAwamotos_TawkIntegration::config"
             sortOrder="10"/>

        <add id="GrupoAwamotos_TawkIntegration::chatlog_list"
             title="Logs de Chat"
             translate="title"
             module="GrupoAwamotos_TawkIntegration"
             parent="GrupoAwamotos_TawkIntegration::tawk"
             action="tawk_integration/chatlog/index"
             resource="GrupoAwamotos_TawkIntegration::config"
             sortOrder="20"/>
    </menu>
</config>
