<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_TawkIntegration::config"
             title="Tawk.to Chat"
             module="GrupoAwamotos_TawkIntegration"
             parent="GrupoAwamotos_B2B::root"
             action="adminhtml/system_config/edit/section/grupoawamotos_tawk"
             resource="GrupoAwamotos_TawkIntegration::config"
             sortOrder="80"/>
            <add id="GrupoAwamotos_TawkIntegration::chatlog_list"
             title="Logs de Chat"
             module="GrupoAwamotos_TawkIntegration"
             parent="GrupoAwamotos_B2B::root"
             action="tawk_integration/chatlog/index"
             resource="GrupoAwamotos_TawkIntegration::config"
             sortOrder="81"/>
    </menu>
</config>
