<?xml version="1.0"?>
<!--
/**
 * B2B Module Events Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="grupoawamotos_b2b_customer_approved">
        <observer name="grupoawamotos_b2b_erp_approval_sync"
                  instance="GrupoAwamotos\B2B\Observer\ErpApprovalSyncObserver"/>
        <observer name="grupoawamotos_b2b_approval_whatsapp_notification"
                  instance="GrupoAwamotos\B2B\Observer\CustomerApprovalNotification"/>
        <observer name="grupoawamotos_b2b_company_auto_create"
                  instance="GrupoAwamotos\B2B\Observer\CustomerApprovedObserver"/>
    </event>

    <event name="sales_order_save_after">
        <observer name="grupoawamotos_b2b_order_status_notification"
                  instance="GrupoAwamotos\B2B\Observer\OrderStatusNotification"/>
    </event>

    <event name="grupoawamotos_b2b_quote_submit_after">
        <observer name="grupoawamotos_b2b_quote_notification"
                  instance="GrupoAwamotos\B2B\Observer\QuoteNotification"/>
    </event>

    <event name="grupoawamotos_b2b_quote_response_after">
        <observer name="grupoawamotos_b2b_quote_response_notification"
                  instance="GrupoAwamotos\B2B\Observer\QuoteNotification"/>
    </event>

    <event name="sales_model_service_quote_submit_before">
        <observer name="grupoawamotos_b2b_copy_po_number"
                  instance="GrupoAwamotos\B2B\Observer\CopyPoNumberToOrder"/>
    </event>

</config>
