<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<table class="header" style="background: linear-gradient(135deg, #0f172a 0%, #1e3a8a 100%); padding: 24px; width: 100%;">
    <tr>
        <td class="logo" align="left">
            <a href="{{store url=""}}">
                <img src="{{view url='GrupoAwamotos_SalesIntelligence::images/logo_email.png'}}"
                     alt="{{trans 'Logo'}}"
                     width="150"
                />
            </a>
        </td>
        <td align="right" style="color: #dbeafe; font-size: 12px; text-transform: uppercase; letter-spacing: 1px;">
            {{trans "Inteligência comercial"}}
        </td>
    </tr>
</table>
