<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="../../../../../dev/tests/unit/framework/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerWarnings="true">

    <testsuites>
        <testsuite name="GrupoAwamotos_ERPIntegration_Unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="GrupoAwamotos_ERPIntegration_Integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">../</directory>
        </include>
        <exclude>
            <directory>../Test</directory>
            <directory>../registration.php</directory>
        </exclude>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage-report"/>
            <text outputFile="coverage.txt"/>
        </report>
    </coverage>

    <php>
        <ini name="memory_limit" value="512M"/>
        <ini name="date.timezone" value="America/Sao_Paulo"/>
    </php>
</phpunit>
