<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">
    <system>
        <tab id="grupoawamotos" translate="label" sortOrder="400">
            <label>GrupoAwamotos</label>
        </tab>
        <section id="grupoawamotos_cookieconsent" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cookie Consent (LGPD)</label>
            <tab>grupoawamotos</tab>
            <resource>GrupoAwamotos_CookieConsent::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuracoes Gerais</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Ativar Banner de Cookies</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="policy_url" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL da Politica de Privacidade</label>
                    <comment>Ex: /politica-de-privacidade (deixe vazio para usar o padrao)</comment>
                </field>
            </group>
        </section>
    </system>
</config>
