<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <!-- Criar cotação automática quando pedido for concluído -->
    <event name="sales_order_place_after">
        <observer name="productintelligence_auto_create_quote"
                  instance="GrupoAwamotos\ProductIntelligence\Observer\AutoCreateQuoteObserver"/>
        <observer name="productintelligence_track_conversion"
                  instance="GrupoAwamotos\ProductIntelligence\Observer\TrackConversionObserver"/>
    </event>

</config>
