<?xml version="1.0"?>
<!--
/**
 * Frontend DI Configuration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Customer\Controller\Account\Index">
        <plugin name="grupoawamotos_b2b_redirect_dashboard"
                type="GrupoAwamotos\B2B\Plugin\Customer\Account\DashboardRedirectPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Controller\Account\Login">
        <plugin name="grupoawamotos_b2b_redirect_login"
                type="GrupoAwamotos\B2B\Plugin\Customer\Account\LoginRedirectPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Controller\Account\ForgotPassword">
        <plugin name="grupoawamotos_b2b_redirect_forgot_password"
                type="GrupoAwamotos\B2B\Plugin\Customer\Account\ForgotPasswordRedirectPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Controller\Account\Create">
        <plugin name="grupoawamotos_b2b_redirect_create"
                type="GrupoAwamotos\B2B\Plugin\Customer\Account\CreateRedirect"
                sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Controller\Account\CreatePost">
        <plugin name="grupoawamotos_b2b_redirect_create_post"
                type="GrupoAwamotos\B2B\Plugin\Customer\Account\CreatePostRedirect"
                sortOrder="10"/>
    </type>

    <type name="Magento\Customer\Block\Account\Customer">
        <plugin name="grupoawamotos_b2b_customer_link"
                type="GrupoAwamotos\B2B\Plugin\Customer\Block\Account\CustomerLink"
                sortOrder="10"/>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\BlockCheckoutPlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\Catalog\RestrictedProductViewPlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Controller\Account\Login">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Controller\Account\Claim">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Controller\Account\ForgotPassword">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\GroupPricePlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Model\Product">
        <plugin name="grupoawamotos_b2b_group_price"
                type="GrupoAwamotos\B2B\Plugin\GroupPricePlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Block\Product\AbstractProduct">
        <plugin name="grupoawamotos_b2b_hide_price"
                type="GrupoAwamotos\B2B\Plugin\HidePricePlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Pricing\Render\FinalPriceBox">
        <plugin name="grupoawamotos_b2b_hide_final_price"
                type="GrupoAwamotos\B2B\Plugin\HideFinalPricePlugin"
                sortOrder="10"/>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\BlockCartAddPlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="grupoawamotos_b2b_block_cart_add"
                type="GrupoAwamotos\B2B\Plugin\BlockCartAddPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Controller\Index\Index">
        <plugin name="grupoawamotos_b2b_block_checkout"
                type="GrupoAwamotos\B2B\Plugin\BlockCheckoutPlugin"
                sortOrder="10"/>
    </type>

    <type name="Rokanthemes\OnePageCheckout\Controller\Index\Index">
        <plugin name="grupoawamotos_b2b_block_express_checkout"
                type="GrupoAwamotos\B2B\Plugin\BlockExpressCheckoutPlugin"
                sortOrder="10"
                disabled="true"/>
    </type>

    <type name="Magento\Catalog\Controller\Product\View">
        <plugin name="grupoawamotos_b2b_restricted_product_view"
                type="GrupoAwamotos\B2B\Plugin\Catalog\RestrictedProductViewPlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Catalog\Model\ResourceModel\Product\Collection">
        <plugin name="grupoawamotos_b2b_restricted_catalog"
                type="GrupoAwamotos\B2B\Plugin\Catalog\RestrictedProductCollectionPlugin"
                sortOrder="100"/>
    </type>

    <type name="GrupoAwamotos\B2B\Block\LoginToCart">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Customer\Api\AccountManagementInterface">
        <plugin name="grupoawamotos_b2b_resolve_cnpj_login"
                type="GrupoAwamotos\B2B\Plugin\Customer\ResolveCnpjLoginPlugin"
                sortOrder="5"/>
    </type>

    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="grupoawamotos_b2b_hide_minicart_price"
                type="GrupoAwamotos\B2B\Plugin\Checkout\HideMiniCartPricePlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Block\Cart\Item\Renderer">
        <plugin name="grupoawamotos_b2b_hide_cart_item_price"
                type="GrupoAwamotos\B2B\Plugin\Checkout\HideCartItemPricePlugin"
                sortOrder="10"/>
    </type>

    <type name="Magento\Checkout\Model\DefaultConfigProvider">
        <plugin name="grupoawamotos_b2b_hide_checkout_price"
                type="GrupoAwamotos\B2B\Plugin\Checkout\HideCheckoutPricePlugin"
                sortOrder="100"/>
    </type>

    <type name="Magento\Quote\Model\Cart\CartTotalRepository">
        <plugin name="grupoawamotos_b2b_hide_cart_totals"
                type="GrupoAwamotos\B2B\Plugin\Checkout\HideCartTotalsPlugin"
                sortOrder="10"/>
    </type>

    <type name="GrupoAwamotos\B2B\Controller\Quote\Accept">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Controller\Quote\Reject">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Controller\ShoppingList\SetRecurring">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\App\Http\Context">
        <plugin name="grupoawamotos_b2b_price_list_context"
                type="GrupoAwamotos\B2B\Plugin\CustomerPriceListContextPlugin"
                sortOrder="20"/>
    </type>

    <type name="Magento\Framework\App\FrontControllerInterface">
        <plugin name="grupoawamotos_b2b_http_context"
                type="GrupoAwamotos\B2B\Plugin\App\HttpContextPlugin"
                sortOrder="15"/>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\CustomerPriceListContextPlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\App\HttpContextPlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Shipping\Model\Rate\Result">
        <plugin name="grupoawamotos_b2b_shipping_rate"
                type="GrupoAwamotos\B2B\Plugin\Checkout\ShippingRateResultPlugin"
                sortOrder="10"/>
    </type>

    <type name="GrupoAwamotos\B2B\Plugin\Checkout\ShippingRateResultPlugin">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Api\PaymentInformationManagementInterface">
        <plugin name="grupoawamotos_b2b_save_po_number"
                type="GrupoAwamotos\B2B\Plugin\Checkout\SavePoNumberPlugin"
                sortOrder="20"/>
        <plugin name="grupoawamotos_b2b_save_order_notes"
                type="GrupoAwamotos\B2B\Plugin\Checkout\SaveOrderNotesPlugin"
                sortOrder="30"/>
    </type>

    <type name="Magento\Checkout\Api\GuestPaymentInformationManagementInterface">
        <plugin name="grupoawamotos_b2b_save_po_number_guest"
                type="GrupoAwamotos\B2B\Plugin\Checkout\SavePoNumberGuestPlugin"
                sortOrder="20"/>
        <plugin name="grupoawamotos_b2b_save_order_notes_guest"
                type="GrupoAwamotos\B2B\Plugin\Checkout\SaveOrderNotesGuestPlugin"
                sortOrder="30"/>
    </type>

</config>
