<?xml version="1.0"?>
<!--
/**
 * Frontend-only B2B events.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="customer_register_success">
        <observer name="grupoawamotos_b2b_customer_register"
                  instance="GrupoAwamotos\B2B\Observer\CustomerRegisterObserver"/>
        <observer name="grupoawamotos_b2b_erp_registration_check"
                  instance="GrupoAwamotos\B2B\Observer\ErpRegistrationCheckObserver"/>
        <observer name="grupoawamotos_b2b_registration_notification"
                  instance="GrupoAwamotos\B2B\Observer\CustomerRegistrationNotification"/>
        <observer name="grupoawamotos_b2b_cnae_classification"
                  instance="GrupoAwamotos\B2B\Observer\CnaeClassificationObserver"/>
    </event>

    <event name="customer_login">
        <observer name="grupoawamotos_b2b_customer_login"
                  instance="GrupoAwamotos\B2B\Observer\CustomerLoginObserver"/>
    </event>

    <event name="sales_order_place_after">
        <observer name="grupoawamotos_b2b_order_notification"
                  instance="GrupoAwamotos\B2B\Observer\OrderNotification"/>
        <observer name="grupoawamotos_b2b_order_approval_trigger"
                  instance="GrupoAwamotos\B2B\Observer\OrderPlaceAfterObserver"/>
    </event>

</config>
