<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- b2b approval (admin-dispatched) -->
    <event name="grupoawamotos_b2b_customer_approved">
        <observer name="meta_conversion_b2b_submit_application_approved"
                  instance="Meta\Conversion\Observer\B2BSubmitApplicationApproved"/>
    </event>
    <event name="grupoawamotos_b2b_customer_rejected">
        <observer name="meta_conversion_b2b_submit_application_rejected"
                  instance="Meta\Conversion\Observer\B2BSubmitApplicationRejected"/>
    </event>
    <!-- quote lifecycle (admin-dispatched from adminhtml/quote/save) -->
    <event name="grupoawamotos_b2b_quote_responded">
        <observer name="meta_conversion_b2b_quote_lifecycle_responded"
                  instance="Meta\Conversion\Observer\B2BQuoteLifecycle"/>
    </event>
    <event name="grupoawamotos_b2b_quote_merchant_rejected">
        <observer name="meta_conversion_b2b_quote_lifecycle_merchant_rejected"
                  instance="Meta\Conversion\Observer\B2BQuoteLifecycle"/>
    </event>
</config>
