<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_MarketingIntelligence::marketing_intelligence"
             title="Marketing Intelligence"
             module="GrupoAwamotos_MarketingIntelligence"
             parent="GrupoAwamotos_ERPIntegration::erp"
             sortOrder="40"
             resource="GrupoAwamotos_MarketingIntelligence::marketing_intelligence"/>
        <add id="GrupoAwamotos_MarketingIntelligence::dashboard"
             title="Dashboard"
             module="GrupoAwamotos_MarketingIntelligence"
             parent="GrupoAwamotos_MarketingIntelligence::marketing_intelligence"
             sortOrder="10"
             action="marketingintelligence/dashboard/index"
             resource="GrupoAwamotos_MarketingIntelligence::dashboard"/>
        <add id="GrupoAwamotos_MarketingIntelligence::prospects"
             title="Prospecção B2B"
             module="GrupoAwamotos_MarketingIntelligence"
             parent="GrupoAwamotos_MarketingIntelligence::marketing_intelligence"
             sortOrder="20"
             action="marketingintelligence/prospects/index"
             resource="GrupoAwamotos_MarketingIntelligence::prospects"/>
        <add id="GrupoAwamotos_MarketingIntelligence::audiences"
             title="Audiências Meta"
             module="GrupoAwamotos_MarketingIntelligence"
             parent="GrupoAwamotos_MarketingIntelligence::marketing_intelligence"
             sortOrder="30"
             action="marketingintelligence/audiences/index"
             resource="GrupoAwamotos_MarketingIntelligence::audiences"/>
        <add id="GrupoAwamotos_MarketingIntelligence::competitors"
             title="Concorrentes"
             module="GrupoAwamotos_MarketingIntelligence"
             parent="GrupoAwamotos_MarketingIntelligence::marketing_intelligence"
             sortOrder="40"
             action="marketingintelligence/competitors/index"
             resource="GrupoAwamotos_MarketingIntelligence::competitors"/>
    </menu>
</config>
