<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_Chatwoot::chatwoot"
             title="Chat ao Vivo"
             translate="title"
             module="GrupoAwamotos_Chatwoot"
             parent="GrupoAwamotos_ERPIntegration::grupo_awamotos"
             sortOrder="40"
             resource="GrupoAwamotos_Chatwoot::config"/>

        <add id="GrupoAwamotos_Chatwoot::dashboard"
             title="Painel do Chat"
             translate="title"
             module="GrupoAwamotos_Chatwoot"
             sortOrder="10"
             parent="GrupoAwamotos_Chatwoot::chatwoot"
             action="chatwoot_admin/dashboard/index"
             resource="GrupoAwamotos_Chatwoot::config"/>

        <add id="GrupoAwamotos_Chatwoot::settings"
             title="Configuracoes"
             translate="title"
             module="GrupoAwamotos_Chatwoot"
             sortOrder="20"
             parent="GrupoAwamotos_Chatwoot::chatwoot"
             action="adminhtml/system_config/edit/section/grupoawamotos_chatwoot"
             resource="GrupoAwamotos_Chatwoot::config"/>
    </menu>
</config>
