<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_WhatsAppCommerce::whatsapp"
             title="WhatsApp Commerce"
             module="GrupoAwamotos_WhatsAppCommerce"
             parent="GrupoAwamotos_ERPIntegration::grupo_awamotos"
             sortOrder="45"
             resource="GrupoAwamotos_WhatsAppCommerce::config"/>

        <add id="GrupoAwamotos_WhatsAppCommerce::dashboard"
             title="Dashboard"
             module="GrupoAwamotos_WhatsAppCommerce"
             parent="GrupoAwamotos_WhatsAppCommerce::whatsapp"
             sortOrder="10"
             action="whatsappcommerce/dashboard/index"
             resource="GrupoAwamotos_WhatsAppCommerce::config"/>

        <add id="GrupoAwamotos_WhatsAppCommerce::consent_log"
             title="Consent Log (LGPD)"
             module="GrupoAwamotos_WhatsAppCommerce"
             parent="GrupoAwamotos_WhatsAppCommerce::whatsapp"
             sortOrder="20"
             action="whatsappcommerce/consent/index"
             resource="GrupoAwamotos_WhatsAppCommerce::config"/>
    </menu>
</config>
