<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="grupoawamotos" translate="label" sortOrder="200">
            <label>AWA Motos</label>
        </tab>
        <section id="whatsapp_commerce" translate="label" sortOrder="30"
                 showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>WhatsApp Commerce</label>
            <tab>grupoawamotos</tab>
            <resource>GrupoAwamotos_WhatsAppCommerce::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Configurações Gerais</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Habilitar</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="max_products_per_response" translate="label comment" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Produtos por Resposta</label>
                    <comment>Máximo de produtos retornados por busca no WhatsApp</comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="checkout_base_url" translate="label comment" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>URL Base do Checkout</label>
                    <comment>Se vazio, usa a URL padrão da loja (ex: https://awamotos.com/checkout)</comment>
                </field>
            </group>
            <group id="notifications" translate="label" type="text" sortOrder="20"
                   showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Notificações por WhatsApp</label>
                <field id="order_placed" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pedido Confirmado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_paid" translate="label" type="select" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pagamento Confirmado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_shipped" translate="label" type="select" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Pedido Enviado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="order_refunded" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Reembolso Processado</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
