<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_ERPIntegration::grupo_awamotos"
             title="Grupo Awamotos"
             translate="title"
             module="GrupoAwamotos_ERPIntegration"
             sortOrder="55"
             resource="GrupoAwamotos_ERPIntegration::grupo_awamotos"/>

        <add id="GrupoAwamotos_ERPIntegration::erp"
             title="ERP Integration"
             translate="title"
             module="GrupoAwamotos_ERPIntegration"
             parent="GrupoAwamotos_ERPIntegration::grupo_awamotos"
             sortOrder="10"
             resource="GrupoAwamotos_ERPIntegration::erp"/>
    </menu>
</config>
