<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <grupoawamotos_chatwoot>
            <general>
                <enabled>1</enabled>
                <base_url></base_url>
                <website_token></website_token>
                <locale>pt_BR</locale>
                <position>right</position>
                <type>standard</type>
                <identify_customer>1</identify_customer>
                <hmac_token/>
            </general>
            <appearance>
                <dark_mode>auto</dark_mode>
                <show_popout_button>1</show_popout_button>
                <widget_color></widget_color>
            </appearance>
            <notifications>
                <enable_sounds>1</enable_sounds>
                <use_push_notifications>0</use_push_notifications>
            </notifications>
            <webhook>
                <secret_token/>
            </webhook>
            <bot>
                <enabled>0</enabled>
                <api_token/>
                <admin_api_token/>
                <api_url></api_url>
            </bot>
        </grupoawamotos_chatwoot>
    </default>
</config>
