<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="GrupoAwamotos_LogMonitoring::monitoring" title="AWA Log Monitoring" sortOrder="100">
                    <resource id="GrupoAwamotos_LogMonitoring::dashboard" title="Dashboard" sortOrder="10"/>
                    <resource id="GrupoAwamotos_LogMonitoring::alerts" title="Alerts Management" sortOrder="20"/>
                    <resource id="GrupoAwamotos_LogMonitoring::metrics" title="Log Metrics" sortOrder="30"/>
                    <resource id="GrupoAwamotos_LogMonitoring::system_health" title="System Health" sortOrder="40"/>
                    <resource id="GrupoAwamotos_LogMonitoring::configuration" title="Configuration" sortOrder="50"/>
                    <resource id="GrupoAwamotos_LogMonitoring::manage" title="Manage Monitoring" sortOrder="60"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>