<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="GrupoAwamotos_TawkIntegration::config"
                          title="Tawk.to Chat — Configurações"
                          sortOrder="80">
                    <resource id="GrupoAwamotos_TawkIntegration::chatlog_list"
                              title="Logs de Chat"
                              sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
