<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <leadlovers>
            <general>
                <enabled>0</enabled>
                <machine_code>775334</machine_code>
                <sequence_code>1841883</sequence_code>
                <sequence_level>1</sequence_level>
                <tag_id>937002</tag_id>
            </general>
        </leadlovers>
    </default>
</config>
