<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xml">
    <event name="sales_order_place_after">
        <observer name="grupoawamotos_leadlovers_order_place_after"
                  instance="GrupoAwamotos\LeadLovers\Observer\OrderPlaceAfter"/>
    </event>

    <event name="customer_register_success">
        <observer name="grupoawamotos_leadlovers_customer_register_success"
                  instance="GrupoAwamotos\LeadLovers\Observer\CustomerRegisterSuccess"/>
    </event>
</config>
