<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- Gera meta description fallback para páginas de categoria sem meta_description -->
    <event name="catalog_controller_category_init_after">
        <observer name="awa_category_meta_description_fallback"
                  instance="GrupoAwamotos\SchemaOrg\Observer\CategoryMetaDescriptionFallback"/>
    </event>
</config>
