<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="GrupoAwamotos\CarrierSelect\Model\Carrier\CarrierSelect">
        <arguments>
            <argument name="customerSession" xsi:type="object">Magento\Customer\Model\Session\Proxy</argument>
        </arguments>
    </type>
    <type name="Magento\Shipping\Model\Rate\CarrierResult">
        <plugin name="grupoawamotos_carrierselect_filter_error_rates"
                type="GrupoAwamotos\CarrierSelect\Plugin\Shipping\Rate\CarrierResultPlugin"
                sortOrder="10"/>
    </type>
</config>
