<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Page">
        <plugin name="grupoawamotos_layoutfix_page_layout_update_xml_sanitizer"
                type="GrupoAwamotos\LayoutFix\Plugin\Cms\PageLayoutUpdateXmlSanitizer"/>
    </type>

    <!-- Fix: suppress "Broken reference" INFO log for product.info.media/product.info.main
         in the Ayo theme where both elements are moved to different containers -->
    <type name="Magento\Framework\View\Layout\ScheduledStructure">
        <plugin name="grupoawamotos_layoutfix_suppress_media_sort_broken_ref"
                type="GrupoAwamotos\LayoutFix\Plugin\ScheduledStructureSortPlugin"
                sortOrder="10"/>
    </type>
</config>
