<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="GrupoAwamotos_LogMonitoring::monitoring" 
             title="AWA Log Monitoring" 
             module="GrupoAwamotos_LogMonitoring" 
             sortOrder="800" 
             parent="Magento_Backend::system" 
             resource="GrupoAwamotos_LogMonitoring::monitoring"/>
             
        <add id="GrupoAwamotos_LogMonitoring::dashboard" 
             title="Dashboard" 
             module="GrupoAwamotos_LogMonitoring" 
             sortOrder="10" 
             parent="GrupoAwamotos_LogMonitoring::monitoring" 
             action="awalogmonitoring/dashboard/index" 
             resource="GrupoAwamotos_LogMonitoring::dashboard"/>
             
        <add id="GrupoAwamotos_LogMonitoring::alerts" 
             title="Alerts" 
             module="GrupoAwamotos_LogMonitoring" 
             sortOrder="20" 
             parent="GrupoAwamotos_LogMonitoring::monitoring" 
             action="awalogmonitoring/alerts/index" 
             resource="GrupoAwamotos_LogMonitoring::alerts"/>
             
        <add id="GrupoAwamotos_LogMonitoring::metrics" 
             title="Log Metrics" 
             module="GrupoAwamotos_LogMonitoring" 
             sortOrder="30" 
             parent="GrupoAwamotos_LogMonitoring::monitoring" 
             action="awalogmonitoring/metrics/index" 
             resource="GrupoAwamotos_LogMonitoring::metrics"/>
             
        <add id="GrupoAwamotos_LogMonitoring::systemhealth" 
             title="System Health" 
             module="GrupoAwamotos_LogMonitoring" 
             sortOrder="40" 
             parent="GrupoAwamotos_LogMonitoring::monitoring" 
             action="awalogmonitoring/systemhealth/index" 
             resource="GrupoAwamotos_LogMonitoring::system_health"/>
    </menu>
</config>