<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="GrupoAwamotos\Fitment\Api\Data\BrandInterface"
                type="GrupoAwamotos\Fitment\Model\Brand"/>
    <preference for="GrupoAwamotos\Fitment\Api\Data\MotorcycleModelInterface"
                type="GrupoAwamotos\Fitment\Model\MotorcycleModel"/>
    <preference for="GrupoAwamotos\Fitment\Api\Data\ApplicationInterface"
                type="GrupoAwamotos\Fitment\Model\Application"/>

    <virtualType name="GrupoAwamotos\Fitment\Model\ResourceModel\Brand\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">grupoawamotos_fitment_brand</argument>
            <argument name="resourceModel" xsi:type="string">GrupoAwamotos\Fitment\Model\ResourceModel\Brand</argument>
        </arguments>
    </virtualType>

    <virtualType name="GrupoAwamotos\Fitment\Model\ResourceModel\MotorcycleModel\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">grupoawamotos_fitment_model</argument>
            <argument name="resourceModel" xsi:type="string">GrupoAwamotos\Fitment\Model\ResourceModel\MotorcycleModel</argument>
        </arguments>
    </virtualType>

    <virtualType name="GrupoAwamotos\Fitment\Model\ResourceModel\Application\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">grupoawamotos_fitment_application</argument>
            <argument name="resourceModel" xsi:type="string">GrupoAwamotos\Fitment\Model\ResourceModel\Application</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="fitment_brand_listing_data_source" xsi:type="string">GrupoAwamotos\Fitment\Model\ResourceModel\Brand\Grid\Collection</item>
                <item name="fitment_model_listing_data_source" xsi:type="string">GrupoAwamotos\Fitment\Model\ResourceModel\MotorcycleModel\Grid\Collection</item>
                <item name="fitment_application_listing_data_source" xsi:type="string">GrupoAwamotos\Fitment\Model\ResourceModel\Application\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\Elasticsearch5\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Resolver\CompositeResolver">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="fitmentKeyword" xsi:type="object" sortOrder="5">GrupoAwamotos\Fitment\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Resolver\FitmentKeywordType</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Elasticsearch\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Resolver\CompositeResolver">
        <arguments>
            <argument name="items" xsi:type="array">
                <item name="fitmentKeyword" xsi:type="object" sortOrder="5">GrupoAwamotos\Fitment\Model\Adapter\FieldMapper\Product\FieldProvider\FieldType\Resolver\FitmentKeywordType</item>
            </argument>
        </arguments>
    </type>

    <!-- Enrich search autocomplete with fitment compatibility -->
    <type name="Mirasvit\Search\Index\Magento\Catalog\Product\InstantProvider">
        <plugin name="fitment_autocomplete_enrichment"
                type="GrupoAwamotos\Fitment\Plugin\SearchAutocompleteProductPlugin"
                sortOrder="10"/>
    </type>

</config>
