<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Fix PHP 8.4: Undefined array key 0 em Magento\Paypal\Model\Config\StructurePlugin::aroundGetElementByPathParts
         quando $pathParts está vazio. -->
    <preference for="Magento\Paypal\Model\Config\StructurePlugin"
                type="GrupoAwamotos\CatalogFix\Plugin\PaypalStructurePluginFix"/>
</config>
